@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: 3 3 18;
    --color-text-secondary: 32 79 110;
    --color-background: 250 248 245;
    --color-primary: 199 234 202;
    --color-accent: 51 151 152;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
