@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: 3 3 18;
    --color-text-secondary: 32 79 110;
    --color-background: 250 248 245;
    --color-primary: 199 234 202;
    --color-accent: 51 151 152;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.video video {*/
/*    position: fixed !important;*/
/*    width: 50vw !important;*/
/*    height: 100vh !important;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*._3Sxu7 video.agora_video_player {*/
/*    display: block;*/
/*    position: fixed !important;*/
/*    width: 50vw !important;*/
/*    height: 100vh !important;*/
/*    top: 0;*/
/*    left: 50vw !important;*/
/*    !*z-index: 1000;*!*/
/*}*/

/*._3Sxu7 {*/
/*    !*display: none !important;*!*/
/*    background: black;*/
/*}*/
/*._3Sxu7 div{*/
/*}*/